@font-face { font-family: torus; font-weight: thin; src: url('assets/font/TorusPro-Thin.ttf'); } 
html, body,h1, h2, h3, h4, h5, h6 {font-family: 'torus', sans-serif;}
body {background: linear-gradient(to bottom, #e0f2fe 0%, #fbcfe8 35%, #ffa4d3 70%); min-height: 100vh;}
header, section, footer {background: transparent !important;}

@import "tailwindcss";
@theme {
  @keyframes slide-in-left {from { transform: translateX(-100%); opacity: 0; }to { transform: translateX(0); opacity: 1; }}
  @keyframes slide-in-right {from { transform: translateX(100%); opacity: 0; }to { transform: translateX(0); opacity: 1; }}
  @keyframes slide-in-up {from { transform: translateY(100%); opacity: 0; }to { transform: translateY(0); opacity: 1; }}
--animate-slide-in-left: slide-in-left 1s ease-out forwards;
--animate-slide-in-right: slide-in-right 1s ease-out forwards;
 --animate-slide-in-up: slide-in-up 1s ease-out forwards;
}
.animate-slide-in-left {}
.animate-slide-in-right {}
.animate-slide-in-up {}